@import '../../assets/style/index'

.box
    width: 100%
    height: auto

    color: $black

    position: absolute
    top: 0
    left: 0

.boxContent
    width: 100%
    max-width: $standard_max_width
    height: $header_height

    margin: 0 auto

    display: grid
    grid-template-columns: 12.5rem 1fr

    * span
        font-size: 1.6rem


    @include md
        grid-template-columns: 1fr
        padding-top: 2.5rem

.logoBox
    width: auto
    height: auto

    display: flex
    justify-content: center
    align-items: center

    @include md
        width: 100%
        height: 5rem

        display: flex
        justify-content: center
        align-items: center

.logo
    width: 100%
    height: 100%
    position: relative

    > img
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        max-width: 100%
        max-height: 100%
        margin: auto auto auto 0

    @include md
        width: 10rem
        height: 100%

.contentBox
    width: auto
    height: auto

    @include md
        display: flex
        justify-content: center
        align-items: center

.content
    width: 100%
    height: auto

    display: flex
    justify-content: flex-end
    align-items: center

    @include md
        width: auto


.pages
    width: 100%
    height: auto

    display: flex
    justify-content: flex-end
    align-items: center

    > div
        height: $header_height
        margin-left: 2.5rem

        display: flex
        justify-content: center
        align-items: center

        &:nth-child(1)
            margin-left: 0

    @include sm
        > div
            margin-left: 1.75rem



.linkActive
    color: $red

.icons
    width: auto
    height: auto
    margin-left: 2.5rem

    @include sm
        margin-left: 1.75rem

.iconCart
    width: 3.5rem
    height: $header_height

    padding: .6rem

    position: relative
    z-index: 1000

    > span
        position: absolute
        top: 10%
        right: 0

        background-color: red

        min-width: 2.25rem
        width: auto
        height: 2rem
        font-size: 1.3rem
        border-radius: 50%
        color: $white

        padding: .25rem


        display: flex
        justify-content: center
        align-items: center









