@import '../../assets/style/index'

.box
    width: 100%
    height: 400px

    display: flex
    justify-content: flex-start
    align-items: center

.content
    max-width: $standard_max_width
    width: 100%
    height: auto
    margin: 0 auto

    @include md
        padding: 1rem

.contentTitle
    > h3
        text-indent: 0
        color: $red

.contentSubtitle
    > p
        color: $white
        font-size: 2rem


.contentAction
    margin-top: 50px

    display: flex
    justify-content: flex-start
    align-items: center

    > input
        margin-right: 2.5rem

    @include sm
        flex-direction: column

        > div
            margin-top: 2rem
            align-self: flex-start

            > button
                width: 100%

        > input
            width: 100%
            margin: 0