@import "../../../../assets/style/index"

$productbox_width: 250px
$detailsbox_width: 100px

$productbox_image: calc(#{$productbox_width} / 2.5)
$productbox_name: calc(#{$productbox_width} - #{$productbox_image})

$pricebox_width: calc((100% - #{$productbox_width}) / 3)
$input_size: 5rem
$button_size: calc(#{$input_size} / 2)
$quantity_width: calc(#{$input_size} + (#{$input_size} / 2))
$quantity_height: $input_size


.product
    width: $productbox_width
    min-height: 12.5rem

    display: flex
    justify-content: flex-start
    align-items: flex-start

    > div

        &:nth-child(1)
            margin-right: 1rem

.productImage
    width: 6.5rem
    height: 10rem

    position: relative

    background-color: $rose

.productDetails
    width: $productbox_name
    height: 100%

.productParagraph
    > p
        font-size: 1.4rem
        text-transform: capitalize

.productRemove
    margin-top: 1.5rem
    cursor: pointer

    > p
        font-size: 1.4rem
        text-decoration: underline
        text-transform: uppercase
        color: $blue

        &:hover
            color: $red

.price,
.quantity,
.total
    width: $detailsbox_width
    height: 100%

    vertical-align: top
    text-align: start

    > p
        font-size: 1.4rem

.total
    text-align: end

.quantityInput

    width: $quantity_width
    height: $quantity_height


    > input[type=number]
        width: $input_size
        height: $input_size

.quantityButton
    width: $button_size
    height: $button_size
